<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Event</title>
</head>
<style>
    .guest_list{
        width: 100%;
        margin: 30px;
        background-color: blue;
		display: flex;
        justify-content: space-around;
    }
</style>
<body>
    <div class="guest_list">
        <p>Name</p>
        <p>Phone Number</p>
		<label for="invited"></label>
		<input type="checkbox">
    </div>
	<button>Vendors</button>
	<button>Banquet Halls</button>
</body>
</html>